@import url(https://fonts.googleapis.com/css?family=Onest:regular,500,700&display=swap);
:root {
  --bg-color: #fff;
  --font-color: #000;
  --primary-color: #fce86a;
  --second-color: #17c997;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Onest", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1352px;
  padding-left: 16px;
  padding-right: 16px;
}
[class*=__container] [class*=__container] {
  max-width: 100%;
  padding: 0;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 100%;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  position: relative;
  margin: 150px 0px;
}
@media (max-width: 1439.98px) {
  section {
    margin: 120px 0px;
  }
}
@media (max-width: 1169.98px) {
  section {
    margin: 80px 0px;
  }
}
@media (max-width: 991.98px) {
  section {
    margin: 50px 0px;
  }
}

@media (max-width: 991.98px) {
  br {
    display: none;
  }
}

h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 111%;
}
@media (max-width: 1439.98px) {
  h1 {
    font-size: 45px;
  }
}
@media (max-width: 1169.98px) {
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 111%;
}
@media (max-width: 1439.98px) {
  h2 {
    font-size: 35px;
  }
}
@media (max-width: 1169.98px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 123%;
  color: #000;
}
@media (max-width: 1439.98px) {
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 1169.98px) {
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
}
@media (max-width: 1439.98px) {
  h4 {
    font-size: 20px;
  }
}
@media (max-width: 1169.98px) {
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  h4 {
    font-size: 16px;
  }
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
}
@media (max-width: 1439.98px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 1169.98px) {
  p {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  p {
    font-size: 13px;
  }
}

.rs-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
}
@media (any-hover: hover) {
  .rs-btn:hover .rs-btn__icon {
    -webkit-transform: translateX(0.75rem);
        -ms-transform: translateX(0.75rem);
            transform: translateX(0.75rem);
  }
}
.rs-btn__filter {
  position: absolute;
  display: none;
}
.rs-btn__block {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 10;
  -webkit-filter: url(#buttonFilter);
          filter: url(#buttonFilter);
}
.rs-btn__text {
  padding: 5px 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 165%;
  color: #000;
  background-color: var(--primary-color);
  border-radius: 54px;
}
.rs-btn__icon {
  background-color: var(--primary-color);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
          transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
  overflow: hidden;
  width: 36px;
  height: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.rs-btn__icon svg {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
          transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

.form {
  width: 100%;
}
.form__wrapper {
  position: relative;
}
.form__line {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.form__agreement {
  font-weight: 400;
  font-size: 13px;
  line-height: 165%;
  text-align: center;
  margin-top: 25px;
}
.form__button {
  margin-top: 8px;
  width: 100%;
}
.form__button .rs-btn {
  width: 100%;
}
.form__button .rs-btn__block {
  width: 100%;
}
.form__button .rs-btn__text {
  padding: 19px 32px;
  width: 100%;
}
@media (max-width: 1439.98px) {
  .form__button .rs-btn__text {
    padding: 14px 20px;
  }
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  padding: 17px 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  background: #fff;
  border-radius: 50px;
}
@media (max-width: 1439.98px) {
  .rs-input {
    font-size: 16px;
    padding: 12px 20px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    font-size: 13px;
  }
}
.rs-input::-webkit-input-placeholder {
  color: #000;
}
.rs-input::-moz-placeholder {
  color: #000;
}
.rs-input:-ms-input-placeholder {
  color: #000;
}
.rs-input::-ms-input-placeholder {
  color: #000;
}
.rs-input::placeholder {
  color: #000;
}

.bg-elem {
  position: absolute;
  display: block;
  z-index: -1;
}
.bg-elem img {
  max-width: unset;
}

.bg-elem-left-top {
  top: -30px;
  left: auto;
  right: calc(100% - 120px);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-navigation .swiper-button-prev:not(:last-child),
.swiper-navigation .swiper-button-next:not(:last-child) {
  margin-right: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 0%;
  width: 45px;
  height: 45px;
  margin-top: 0px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 0.9s cubic-bezier(0.135, 0.9, 0.15, 1) 0s;
  transition: all 0.9s cubic-bezier(0.135, 0.9, 0.15, 1) 0s;
  background-color: #f3f3f3;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px;
  height: 24px;
  position: absolute;
  -webkit-transition: all 0.9s cubic-bezier(0.135, 0.9, 0.15, 1) 0s;
  transition: all 0.9s cubic-bezier(0.135, 0.9, 0.15, 1) 0s;
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}
.swiper-button-next svg:last-child,
.swiper-button-prev svg:last-child {
  opacity: 0;
}
@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: var(--primary-color);
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px;
  right: 0px;
}
.swiper-button-prev svg:last-child,
.swiper-rtl .swiper-button-next svg:last-child {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media (any-hover: hover) {
  .swiper-button-prev:hover svg:first-child,
  .swiper-rtl .swiper-button-next:hover svg:first-child {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  .swiper-button-prev:hover svg:last-child,
  .swiper-rtl .swiper-button-next:hover svg:last-child {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px;
  left: 0px;
}
.swiper-button-next svg:last-child,
.swiper-rtl .swiper-button-prev svg:last-child {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (any-hover: hover) {
  .swiper-button-next:hover svg:first-child,
  .swiper-rtl .swiper-button-prev:hover svg:first-child {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .swiper-button-next:hover svg:last-child,
  .swiper-rtl .swiper-button-prev:hover svg:last-child {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.rs-breadcrumbs {
  position: relative;
  margin: 15px 0px 0px;
}
@media (max-width: 1439.98px) {
  .rs-breadcrumbs {
    margin-top: 10px;
  }
}
.rs-breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rs-breadcrumbs__list li {
  font-weight: 500;
  font-size: 21px;
  line-height: 111%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1439.98px) {
  .rs-breadcrumbs__list li {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rs-breadcrumbs__list li {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rs-breadcrumbs__list li {
    font-size: 14px;
  }
}
.rs-breadcrumbs__list li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-breadcrumbs__list li > a:hover {
    color: var(--primary-color);
  }
}
.rs-breadcrumbs__list li:not(:last-child)::after {
  content: "/";
  display: block;
  margin: 0px 10px;
}