.rs-numbers {
	// .rs-numbers__container
	&__container {
		h2 {
			max-width: 536px;
			margin: 0px 0px 0px auto;
			position: relative;
			z-index: 10;

			@media (max-width: 991.98px) {
				margin: 0px 0px 30px 0px;
			}
		}
	}

	// .rs-numbers__wrapper
	&__wrapper {
	}

	// .rs-numbers__list
	&__list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	// .rs-numbers__item
	&__item {
		// width: 472px;
		width: 100%;
		width: 35.758%;
		padding: 15px;
		aspect-ratio: 1;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #ffffff;
		border: 1px solid transparent;
		border-radius: 50%;
		animation-duration: calc(1s * 0.8);
		transition: all 0.3s ease 0s;
		visibility: hidden;

		$i: 1;
		@while $i < 30 {
			&:nth-child(#{$i}) {
				animation-delay: $i * 0.05 + s;
			}
			$i: $i + 1;
		}

		&.aos-animate {
			animation-name: rollIn;
			visibility: visible;
		}

		@keyframes rollIn {
			0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0) rotate(-120deg);
				transform: translate3d(-100%, 0, 0) rotate(-120deg);
			}

			100% {
				opacity: 1;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
			}
		}

		&:nth-child(1) {
			margin-top: -6.5%;
			margin-left: 6.7%;
			z-index: 1;

			@media (max-width: 479.98px) {
				margin-left: 0px;
				margin-top: -5%;
			}
		}

		&:nth-child(2) {
			margin-top: 4.5%;
			margin-left: -3.7%;
			z-index: 2;

			@media (max-width: 479.98px) {
				margin-left: -3%;
				margin-top: 5%;
			}
		}

		&:nth-child(3) {
			margin-top: 25.9%;
			margin-left: -10.3%;
			z-index: 3;

			@media (max-width: 479.98px) {
				margin-left: -5%;
				margin-top: 15%;
			}
		}

		&:nth-child(4) {
			margin-top: -36.7%;
			margin-left: 0%;
			z-index: 0;

			@media (max-width: 479.98px) {
				margin-left: -0%;
				margin-top: -27.5%;
			}
		}

		&:nth-child(5) {
			margin-top: -24.8%;
			margin-left: -3.6%;
			z-index: 1;

			@media (max-width: 479.98px) {
				margin-left: -5%;
				margin-top: -17.5%;
			}
		}

		&.rs-numbers__item-border {
			background-color: transparent;
			border-color: #d9d9d9;
		}

		&.rs-numbers__item-primary {
			background-color: var(--primary-color);
		}

		&.rs-numbers__item-second {
			background-color: var(--second-color);
			color: #fff;
		}

		@media (any-hover: hover) {
			&:hover {
				z-index: 10;
				transform: scale(1.1);
			}
		}
	}

	// .rs-numbers__num
	&__num {
		font-weight: 500;
		font-size: 100px;

		@media (max-width: 1439.98px) {
			font-size: 80px;
		}

		@media (max-width: 1169.98px) {
			font-size: 60px;
		}

		@media (max-width: 991.98px) {
			font-size: 40px;
		}

		@media (max-width: 767.98px) {
			font-size: 25px;
		}
	}

	// .rs-numbers__desc
	&__desc {
		max-width: 190px;
		margin-top: 25px;

		@media (max-width: 1169.98px) {
			margin-top: 15px;
		}

		@media (max-width: 991.98px) {
			margin-top: 10px;
		}

		h4 {
			line-height: 120%;

			@media (max-width: 1169.98px) {
				margin-top: 15px;
			}

			@media (max-width: 991.98px) {
				font-size: 10px;
			}
		}
	}
}
